.single .swiper {
  width: 100%;
  height: 100%;
}

.single .swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.single .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single .swiper {
  width: 100%;
  height: 18.75rem;
  margin-left: auto;
  margin-right: auto;
}

.single .swiper-slide {
  background-size: cover;
  background-position: center;
}

.single .mySwiper2 {
  height: 18.75rem;
  width: 100%;
}

.single .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 0.625rem 0;
}

.single .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.single .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.single .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
